@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  color: gray;
  background: #fff; }

  a {
  color: #229cc4;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  a:hover, a:active, a:focus {
    color: #229cc4;
    outline: none;
    text-decoration: none; }

p {
  margin-bottom: 20px; }

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0; }

  /* Navigations css*/
nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}
nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}
nav.black ul {
      background: #000;
}

nav .navbar-brand img{
  	width: 100%;
    max-height: 91px;

  }
 
nav .navbar-brand {
    width: 12%;
    height:auto;
}
 
/*nav.navbar.navbar-expand-lg.navbar-light {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    margin: 0 auto;
}
.navbar-light .navbar-brand {
    color: rgba(249, 0, 0, 0.84);
}*/
img.d-block.w-100 {
    max-height: 800px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    }
.carousel-item .bg-color {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 40%;
    left: 0%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.carousel-caption h1 {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgba(255, 255, 255, 0.7);
    }
.carousel-caption h2 {
	margin-bottom: 40px;
	font-size: 50px;
	line-height: 1.3;
	font-weight: 700;
	color: white;
	margin: 0;
	padding: 0;
}

/*Footer css*/
footer#viva-footer {
    /*background-color: #042144;*/
  /*background-color: rgba(178, 18, 11, 0.6);*/
}
footer#viva-footer.footer-bg{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.6);
z-index: 1;

}
.col-md-3.viva-widget {
   margin: 39px 0px;
}
.viva-widget h4 {
    color: #fff;
}
.viva-widget p {
    color: #fff;
}
.viva-widget ul{
  display:block;
  padding:3px 0px 0px 1px;
}
.viva-widget ul li{
  list-style-type: none;
}
.viva-widget ul li a{
  text-decoration: none;
  color:#fff;
}
.viva-footer{
  background-color:#ddd;
}